#container{
    height: 200px;
    width: 300px;
    background-color: yellow;
    position: relative;
}

.box{
    box-sizing: border-box;
    background-color: blue;
}


.first{
    height: 85px;
    width: 85px;
}




.third{
    height: 85px;
    width: 85px;
}

.third{
    position: absolute;
    bottom: 0px;

}


.second,.fourth{
    height: 85px;
    width: 170px;
    position: absolute;

}

.second{
    top: 0px;
    right: 0px;
}


.fourth{
    bottom: 0px;
    right: 0px;
}