h1{
    background-color: aqua;
}



/* #firstID{

    /* target only particular element */
    /* background-color: wheat; */
/* } */


/* .classA{
    background-color: green;
} */


/* pereference !important<-inline css <- id <- class(high)<-tag  */

h1{
    background-color: pink;
}



/* Overwriting inline css */

h2{
    /* !important can overwrite inline css */
    background-color: aqua !important;
}




/* ordering is important if there is a tie between two elements and gives high priority which comes at last */